html {
	background-color: navy;
	font-size: 14px;
	width: auto;
}
h1, h2 {
	font-size: 20px;
}
#page {
	text-align: center;
	width: 80%;
	background-color: white;
	border: 10px solid aqua;
}
.entete {
	text-align: center;
}
#aboutme {
	text-align: center;
	background-color: black;
	color: white;
}
footer {
	text-align: center;
	border: 5px solid pink;
	background-color: silver;
}